/* CAROUSEL SECTION */
.carousel-inner img{
    height: 300px;
}

/* DETAILED CONTAINER SECTION  */
.container{
    /* border: 2px solid black; */
    margin-top: 32px;
}
.star_interested{
    display: flex;
    justify-content:space-between;
}
.star_interested .checked{
    color: orange;
}
.detail-container .heading{
    font-size: 30px;
    font-weight: bold;
}
.property-gender img{
    height: 80px;
}
.rateBtn{
    display: flex;
    justify-content:space-between;
}
.rateBtn .btn{
    width: 100px;
    padding-left: 3px;
    padding-right: 3px;
}

/* AMENITIES SECTION   */
.property-amenities{
    /* border: 2px solid black; */
    margin-top: 70px;
    background-color: rgba(238, 236, 236, 0.884);
    padding-left: 120px;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 60px;
}
.amenities-content{
    justify-content: space-between;
}

.content{
    margin-top: 25px;
}

@media (max-width:760px){
    .amenities-content{
        flex-direction: column;
    }
}

/* PROPERTY-RATING */
/* .property-rating{
    display: flex;
    justify-content: space-evenly;
    
} */
.property-rating{
    background-color: rgba(238, 236, 236, 0.884);
}
.page-container h1{
    text-align: center;
}

.rate-circle{
    position: relative;
    top: 50px;
}
.prop-rating{
    justify-content: space-evenly;
}

.rating-criteria {
    margin: 28px 0px;
}

.rating-criteria-icon {
    width: 14px; 
}

.rating-criteria-text {
    margin-left: 8px;
}

.rating-criteria-star-container {
    margin-top: -2px;
}

.rating-criteria-star-container i {
    color: #66C2BD;
    font-size: 12px;
}

.rating-circle {
    background-color: #66C2BD;
    color: white;
    text-align: center;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding-top: 32px;
    margin: auto;
}

.total-rating {
    font-size: 40px;
}

.rating-circle-star-container {
    font-size: 12px;
}


/* TESTOMONITAL BLOCK */
.testimonial-block {
    background-color: #fcfaf7;
    padding: 0px 160px 24px;
    margin-top: 80px;
}

@media (max-width: 768px) {
    .testimonial-block {
        padding: 0px 24px 24px;
    }
}

.testimonial-image-container {
    text-align: center;
}

.testimonial-img {
    width: 100px;
    border-radius: 50%;
    position: relative;
    top: -40px;
}

.testimonial-text {
    color: #777777;
    text-align: center;
    position: relative;
}

.testimonial-text i {
    font-size: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.testimonial-text p {
    text-indent: 20px;
}

.testimonial-name {
    color: #2F2E2E;
    text-align: right;
    font-weight: bold;
    margin-top: 12px;
}

.footer{
    background: black;
    color: white;
}

.footer-cities{
    justify-content:space-evenly;
    margin-bottom: 10px;
}
.footer-copyright{
    text-align: center;
}
.page-container{
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-city a{
    text-decoration: none;
    color: white;
}